@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #05101c; */
  background-color: darkgrey;
  color: white;
  font-family: "Roboto Slabm", serif;
}